<div class="container">
  <div class="card-container-top">
    <div class="card-item-top">
      <div class="card-top" >
        <div class="card-body">
        </div>
      </div>
      <div class="card-top" >
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="card-item-top">
      <div class="card-top" >
        <div class="card-body">
        </div>
      </div>
      <div class="card-top" >
        <div class="card-body">
        </div>
      </div>      
    </div>
    <div class="card-item-top">
      <div class="card-top" >
        <div class="card-body">
        </div>
      </div>
      <div class="card-top" >
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="card-item-top">
      <div class="card-top" >
        <div class="card-body">
        </div>
      </div>
      <div class="card-top" >
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="card-item-top">
      <div class="card-top" >
        <div class="card-body">
        </div>
      </div>
      <div class="card-top" >
        <div class="card-body">
        </div>
      </div>
    </div>    
  </div>
</div>
<div class="container">
  <div class="card-container-bottom">
    <div class="card-item-bottom">
      <div class="card-bottom-top" >
        <div class="card-body-bottom">
        </div>
      </div>
      <div class="card-bottom-bottom" >
        <div class="card-body-bottom">
        </div>
      </div>      
    </div>
    <div class="card-item-bottom">
      <div class="card-bottom-top" >
        <div class="card-body-bottom">
        </div>
      </div>
      <div class="card-bottom-bottom" >
        <div class="card-body-bottom">
        </div>
      </div>
    </div>
    <div class="card-item-bottom">
      <div class="card-bottom-top" >
        <div class="card-body-bottom">
        </div>
      </div>
      <div class="card-bottom-bottom" >
        <div class="card-body-bottom">
        </div>
      </div>
    </div>
    <div class="card-item-bottom">
      <div class="card-bottom-top" >
        <div class="card-body-bottom">
        </div>
      </div>
      <div class="card-bottom-bottom" >
        <div class="card-body-bottom">
        </div>
      </div>
    </div>    
  </div>
</div>
