<div class="container">
  <div class="card-container-top">
    <div class="container-item">
      <div class="card-item-top">
        <div class="card-top" >
          <div class="card-body">
          </div>
        </div>
        <div class="card-top" >
          <div >
            <svg id="svg1" class="svg"></svg>
          </div>
        </div>
      </div>      
    </div>
    <div class="container-item">
      <div class="card-item-top">
        <div class="card-top" >
          <div class="card-body">
          </div>
        </div>
        <div class="card-top" >
          <div class="card-body"> 
            <svg id="svg2" class="svg"></svg>
          </div>
        </div>      
      </div>      
    </div>
    <div class="container-item">
      <div class="card-item-top">
        <div class="card-top" >
          <div class="card-body">
          </div>
        </div>
        <div class="card-top" >
          <div class="card-body">   
            <svg id="svg3"></svg>
          </div>
        </div>      
      </div>      
    </div>
    <div class="container-item">
      <div class="card-item-top">
        <div class="card-top" >
          <div class="card-body">
          </div>
        </div>
        <div class="card-top" >
          <div class="card-body"> 
            <svg id="svg4"></svg>  
          </div>
        </div>      
      </div>      
    </div>
    <div class="container-item">
      <div class="card-item-top">
        <div class="card-top" >
          <div class="card-body">
          </div>
        </div>
        <div class="card-top" >
          <div class="card-body">   
            <svg id="svg5"></svg>
          </div>
        </div>      
      </div>      
    </div>
</div>

